.example-card {
    max-width: 300px;
    margin: 4px
  }

  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  mat-card-title{
      font-size: 30px !important;
      margin-left: 90px !important;
  }
  .error {
    padding: 16px;
    /* width: 100%; */
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }